### Pyspark Handling Missing Values
- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, MEdian And Mode

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [2]:
df_pyspark=spark.read.csv('fx_rates_sample.csv',header=True,inferSchema=True)

In [3]:
df_pyspark.printSchema()

root
 |-- timestamp: timestamp (nullable = true)
 |-- base: string (nullable = true)
 |-- USD: double (nullable = true)
 |-- SAR: double (nullable = true)
 |-- YER: double (nullable = true)
 |-- EUR: double (nullable = true)

In [4]:
df_pyspark.show()

+-------------------+----+---+--------+----------+--------+
|          timestamp|base|USD|     SAR|       YER|     EUR|
+-------------------+----+---+--------+----------+--------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|
|2025-09-01 09:05:00| USD|1.0|3.747703|250.305721|0.846689|
|2025-09-01 09:06:00| USD|1.0| 3.74783|250.157004|0.847113|
|2025-09-01 09:07:00| USD|1.0|3.747514|249.992554|0.848264|
|2025-09-01 09:08:00| USD|1.0|3.747497|250.033015|0.846554|
|2025-09-01 09:09:00| USD|1.0|3.746644|250.201892|0.844874|
|2025-09-01 09:10:00| USD|1.0|3.747524|250.204177|0.845546|
|2025-09-01 09:11:00| USD|1.0|3.748301|250.469969|0.845634|
|2025-09-01 09:12:00| USD|1.0|3.748368|250.641328|0.846457|
|2025-09-01 09:13:00| USD|1.0|3.749495|250.809692|0.846175|
|2025-09-01 09:14:00| USD|1.0|3.749962|250.920515|0.846592|
|2025-09-01 09:15:00| USD|1.0|3.749103|251.386046| 0.84683|
|2025-09-01 09:16:00| USD|1.0|3.749472|251.345014|0.847996|
|2025-09-01 09:17:00| USD|1.0|3.748513|250.944309|0.849207|
|2025-09-01 09:18:00| USD|1.0|3.749391| 251.26516|0.846777|
|2025-09-01 09:19:00| USD|1.0|3.749341| 251.17362|0.843406|
+-------------------+----+---+--------+----------+--------+
only showing top 20 rows

In [5]:
##drop the columns
df_pyspark.drop('Name').show()

+-------------------+----+---+--------+----------+--------+
|          timestamp|base|USD|     SAR|       YER|     EUR|
+-------------------+----+---+--------+----------+--------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|
|2025-09-01 09:05:00| USD|1.0|3.747703|250.305721|0.846689|
|2025-09-01 09:06:00| USD|1.0| 3.74783|250.157004|0.847113|
|2025-09-01 09:07:00| USD|1.0|3.747514|249.992554|0.848264|
|2025-09-01 09:08:00| USD|1.0|3.747497|250.033015|0.846554|
|2025-09-01 09:09:00| USD|1.0|3.746644|250.201892|0.844874|
|2025-09-01 09:10:00| USD|1.0|3.747524|250.204177|0.845546|
|2025-09-01 09:11:00| USD|1.0|3.748301|250.469969|0.845634|
|2025-09-01 09:12:00| USD|1.0|3.748368|250.641328|0.846457|
|2025-09-01 09:13:00| USD|1.0|3.749495|250.809692|0.846175|
|2025-09-01 09:14:00| USD|1.0|3.749962|250.920515|0.846592|
|2025-09-01 09:15:00| USD|1.0|3.749103|251.386046| 0.84683|
|2025-09-01 09:16:00| USD|1.0|3.749472|251.345014|0.847996|
|2025-09-01 09:17:00| USD|1.0|3.748513|250.944309|0.849207|
|2025-09-01 09:18:00| USD|1.0|3.749391| 251.26516|0.846777|
|2025-09-01 09:19:00| USD|1.0|3.749341| 251.17362|0.843406|
+-------------------+----+---+--------+----------+--------+
only showing top 20 rows

In [6]:
df_pyspark.show()

+-------------------+----+---+--------+----------+--------+
|          timestamp|base|USD|     SAR|       YER|     EUR|
+-------------------+----+---+--------+----------+--------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|
|2025-09-01 09:05:00| USD|1.0|3.747703|250.305721|0.846689|
|2025-09-01 09:06:00| USD|1.0| 3.74783|250.157004|0.847113|
|2025-09-01 09:07:00| USD|1.0|3.747514|249.992554|0.848264|
|2025-09-01 09:08:00| USD|1.0|3.747497|250.033015|0.846554|
|2025-09-01 09:09:00| USD|1.0|3.746644|250.201892|0.844874|
|2025-09-01 09:10:00| USD|1.0|3.747524|250.204177|0.845546|
|2025-09-01 09:11:00| USD|1.0|3.748301|250.469969|0.845634|
|2025-09-01 09:12:00| USD|1.0|3.748368|250.641328|0.846457|
|2025-09-01 09:13:00| USD|1.0|3.749495|250.809692|0.846175|
|2025-09-01 09:14:00| USD|1.0|3.749962|250.920515|0.846592|
|2025-09-01 09:15:00| USD|1.0|3.749103|251.386046| 0.84683|
|2025-09-01 09:16:00| USD|1.0|3.749472|251.345014|0.847996|
|2025-09-01 09:17:00| USD|1.0|3.748513|250.944309|0.849207|
|2025-09-01 09:18:00| USD|1.0|3.749391| 251.26516|0.846777|
|2025-09-01 09:19:00| USD|1.0|3.749341| 251.17362|0.843406|
+-------------------+----+---+--------+----------+--------+
only showing top 20 rows

In [7]:
df_pyspark.na.drop().show()

+-------------------+----+---+--------+----------+--------+
|          timestamp|base|USD|     SAR|       YER|     EUR|
+-------------------+----+---+--------+----------+--------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|
|2025-09-01 09:05:00| USD|1.0|3.747703|250.305721|0.846689|
|2025-09-01 09:06:00| USD|1.0| 3.74783|250.157004|0.847113|
|2025-09-01 09:07:00| USD|1.0|3.747514|249.992554|0.848264|
|2025-09-01 09:08:00| USD|1.0|3.747497|250.033015|0.846554|
|2025-09-01 09:09:00| USD|1.0|3.746644|250.201892|0.844874|
|2025-09-01 09:10:00| USD|1.0|3.747524|250.204177|0.845546|
|2025-09-01 09:11:00| USD|1.0|3.748301|250.469969|0.845634|
|2025-09-01 09:12:00| USD|1.0|3.748368|250.641328|0.846457|
|2025-09-01 09:13:00| USD|1.0|3.749495|250.809692|0.846175|
|2025-09-01 09:14:00| USD|1.0|3.749962|250.920515|0.846592|
|2025-09-01 09:15:00| USD|1.0|3.749103|251.386046| 0.84683|
|2025-09-01 09:16:00| USD|1.0|3.749472|251.345014|0.847996|
|2025-09-01 09:17:00| USD|1.0|3.748513|250.944309|0.849207|
|2025-09-01 09:18:00| USD|1.0|3.749391| 251.26516|0.846777|
|2025-09-01 09:19:00| USD|1.0|3.749341| 251.17362|0.843406|
+-------------------+----+---+--------+----------+--------+
only showing top 20 rows

In [8]:
### any==how
df_pyspark.na.drop(how="any").show()

+-------------------+----+---+--------+----------+--------+
|          timestamp|base|USD|     SAR|       YER|     EUR|
+-------------------+----+---+--------+----------+--------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|
|2025-09-01 09:05:00| USD|1.0|3.747703|250.305721|0.846689|
|2025-09-01 09:06:00| USD|1.0| 3.74783|250.157004|0.847113|
|2025-09-01 09:07:00| USD|1.0|3.747514|249.992554|0.848264|
|2025-09-01 09:08:00| USD|1.0|3.747497|250.033015|0.846554|
|2025-09-01 09:09:00| USD|1.0|3.746644|250.201892|0.844874|
|2025-09-01 09:10:00| USD|1.0|3.747524|250.204177|0.845546|
|2025-09-01 09:11:00| USD|1.0|3.748301|250.469969|0.845634|
|2025-09-01 09:12:00| USD|1.0|3.748368|250.641328|0.846457|
|2025-09-01 09:13:00| USD|1.0|3.749495|250.809692|0.846175|
|2025-09-01 09:14:00| USD|1.0|3.749962|250.920515|0.846592|
|2025-09-01 09:15:00| USD|1.0|3.749103|251.386046| 0.84683|
|2025-09-01 09:16:00| USD|1.0|3.749472|251.345014|0.847996|
|2025-09-01 09:17:00| USD|1.0|3.748513|250.944309|0.849207|
|2025-09-01 09:18:00| USD|1.0|3.749391| 251.26516|0.846777|
|2025-09-01 09:19:00| USD|1.0|3.749341| 251.17362|0.843406|
+-------------------+----+---+--------+----------+--------+
only showing top 20 rows

In [9]:
##threshold
df_pyspark.na.drop(how="any",thresh=3).show()

+-------------------+----+---+--------+----------+--------+
|          timestamp|base|USD|     SAR|       YER|     EUR|
+-------------------+----+---+--------+----------+--------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|
|2025-09-01 09:05:00| USD|1.0|3.747703|250.305721|0.846689|
|2025-09-01 09:06:00| USD|1.0| 3.74783|250.157004|0.847113|
|2025-09-01 09:07:00| USD|1.0|3.747514|249.992554|0.848264|
|2025-09-01 09:08:00| USD|1.0|3.747497|250.033015|0.846554|
|2025-09-01 09:09:00| USD|1.0|3.746644|250.201892|0.844874|
|2025-09-01 09:10:00| USD|1.0|3.747524|250.204177|0.845546|
|2025-09-01 09:11:00| USD|1.0|3.748301|250.469969|0.845634|
|2025-09-01 09:12:00| USD|1.0|3.748368|250.641328|0.846457|
|2025-09-01 09:13:00| USD|1.0|3.749495|250.809692|0.846175|
|2025-09-01 09:14:00| USD|1.0|3.749962|250.920515|0.846592|
|2025-09-01 09:15:00| USD|1.0|3.749103|251.386046| 0.84683|
|2025-09-01 09:16:00| USD|1.0|3.749472|251.345014|0.847996|
|2025-09-01 09:17:00| USD|1.0|3.748513|250.944309|0.849207|
|2025-09-01 09:18:00| USD|1.0|3.749391| 251.26516|0.846777|
|2025-09-01 09:19:00| USD|1.0|3.749341| 251.17362|0.843406|
+-------------------+----+---+--------+----------+--------+
only showing top 20 rows

In [10]:
##Subset
df_pyspark.na.drop(how="any", subset=['SAR']).show()

+-------------------+----+---+--------+----------+--------+
|          timestamp|base|USD|     SAR|       YER|     EUR|
+-------------------+----+---+--------+----------+--------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|
|2025-09-01 09:05:00| USD|1.0|3.747703|250.305721|0.846689|
|2025-09-01 09:06:00| USD|1.0| 3.74783|250.157004|0.847113|
|2025-09-01 09:07:00| USD|1.0|3.747514|249.992554|0.848264|
|2025-09-01 09:08:00| USD|1.0|3.747497|250.033015|0.846554|
|2025-09-01 09:09:00| USD|1.0|3.746644|250.201892|0.844874|
|2025-09-01 09:10:00| USD|1.0|3.747524|250.204177|0.845546|
|2025-09-01 09:11:00| USD|1.0|3.748301|250.469969|0.845634|
|2025-09-01 09:12:00| USD|1.0|3.748368|250.641328|0.846457|
|2025-09-01 09:13:00| USD|1.0|3.749495|250.809692|0.846175|
|2025-09-01 09:14:00| USD|1.0|3.749962|250.920515|0.846592|
|2025-09-01 09:15:00| USD|1.0|3.749103|251.386046| 0.84683|
|2025-09-01 09:16:00| USD|1.0|3.749472|251.345014|0.847996|
|2025-09-01 09:17:00| USD|1.0|3.748513|250.944309|0.849207|
|2025-09-01 09:18:00| USD|1.0|3.749391| 251.26516|0.846777|
|2025-09-01 09:19:00| USD|1.0|3.749341| 251.17362|0.843406|
+-------------------+----+---+--------+----------+--------+
only showing top 20 rows

In [11]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['SAR']).show()

+-------------------+----+---+--------+----------+--------+
|          timestamp|base|USD|     SAR|       YER|     EUR|
+-------------------+----+---+--------+----------+--------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|
|2025-09-01 09:05:00| USD|1.0|3.747703|250.305721|0.846689|
|2025-09-01 09:06:00| USD|1.0| 3.74783|250.157004|0.847113|
|2025-09-01 09:07:00| USD|1.0|3.747514|249.992554|0.848264|
|2025-09-01 09:08:00| USD|1.0|3.747497|250.033015|0.846554|
|2025-09-01 09:09:00| USD|1.0|3.746644|250.201892|0.844874|
|2025-09-01 09:10:00| USD|1.0|3.747524|250.204177|0.845546|
|2025-09-01 09:11:00| USD|1.0|3.748301|250.469969|0.845634|
|2025-09-01 09:12:00| USD|1.0|3.748368|250.641328|0.846457|
|2025-09-01 09:13:00| USD|1.0|3.749495|250.809692|0.846175|
|2025-09-01 09:14:00| USD|1.0|3.749962|250.920515|0.846592|
|2025-09-01 09:15:00| USD|1.0|3.749103|251.386046| 0.84683|
|2025-09-01 09:16:00| USD|1.0|3.749472|251.345014|0.847996|
|2025-09-01 09:17:00| USD|1.0|3.748513|250.944309|0.849207|
|2025-09-01 09:18:00| USD|1.0|3.749391| 251.26516|0.846777|
|2025-09-01 09:19:00| USD|1.0|3.749341| 251.17362|0.843406|
+-------------------+----+---+--------+----------+--------+
only showing top 20 rows

In [12]:
df_pyspark.show()

+-------------------+----+---+--------+----------+--------+
|          timestamp|base|USD|     SAR|       YER|     EUR|
+-------------------+----+---+--------+----------+--------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|
|2025-09-01 09:05:00| USD|1.0|3.747703|250.305721|0.846689|
|2025-09-01 09:06:00| USD|1.0| 3.74783|250.157004|0.847113|
|2025-09-01 09:07:00| USD|1.0|3.747514|249.992554|0.848264|
|2025-09-01 09:08:00| USD|1.0|3.747497|250.033015|0.846554|
|2025-09-01 09:09:00| USD|1.0|3.746644|250.201892|0.844874|
|2025-09-01 09:10:00| USD|1.0|3.747524|250.204177|0.845546|
|2025-09-01 09:11:00| USD|1.0|3.748301|250.469969|0.845634|
|2025-09-01 09:12:00| USD|1.0|3.748368|250.641328|0.846457|
|2025-09-01 09:13:00| USD|1.0|3.749495|250.809692|0.846175|
|2025-09-01 09:14:00| USD|1.0|3.749962|250.920515|0.846592|
|2025-09-01 09:15:00| USD|1.0|3.749103|251.386046| 0.84683|
|2025-09-01 09:16:00| USD|1.0|3.749472|251.345014|0.847996|
|2025-09-01 09:17:00| USD|1.0|3.748513|250.944309|0.849207|
|2025-09-01 09:18:00| USD|1.0|3.749391| 251.26516|0.846777|
|2025-09-01 09:19:00| USD|1.0|3.749341| 251.17362|0.843406|
+-------------------+----+---+--------+----------+--------+
only showing top 20 rows

In [13]:
df_pyspark.printSchema()

root
 |-- timestamp: timestamp (nullable = true)
 |-- base: string (nullable = true)
 |-- USD: double (nullable = true)
 |-- SAR: double (nullable = true)
 |-- YER: double (nullable = true)
 |-- EUR: double (nullable = true)

In [14]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [15]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["SAR"],
    outputCols=["SAR_imputed"]
)

imputed_df = imputer.fit(df_pyspark).transform(df_pyspark)
imputed_df.show(5)

+-------------------+----+---+--------+----------+--------+-----------+
|          timestamp|base|USD|     SAR|       YER|     EUR|SAR_imputed|
+-------------------+----+---+--------+----------+--------+-----------+
|2025-09-01 09:00:00| USD|1.0|3.750305|249.969495|0.849856|   3.750305|
|2025-09-01 09:01:00| USD|1.0|3.749265|250.046174|0.851548|   3.749265|
|2025-09-01 09:02:00| USD|1.0|3.750015|250.246139|0.848127|   3.750015|
|2025-09-01 09:03:00| USD|1.0|3.750956|250.034432|0.845882|   3.750956|
|2025-09-01 09:04:00| USD|1.0|3.749005| 250.00943|0.844497|   3.749005|
+-------------------+----+---+--------+----------+--------+-----------+
only showing top 5 rows